@font-face {
    font-family: bitty;
    src: url(bitty.ttf);
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-size: 48px;
	background-color: hsl(0, 0%, 10%);
	font-family: consolas !important;
}

#game {
	height: 100vh;
	display: none;
}

div {
	box-sizing: border-box;
}

button {
	width: 100%;
	height: 15vh;
	font-size: 36px;
	float: left;
	font-family: consolas !important;
	border: 0px;
	border-left: 2px solid hsl(0, 0%, 10%);
	border-right: 2px solid hsl(0, 0%, 10%);
	background-color: hsl(0, 0%, 90%);
	margin-top: 10px;
}

input {
	font-size: 48px;
}

#top {
	width: calc(2 * 100% / 3);
	height: 95%;
	float: left;
}

.xp-box, .chat-box {
	width: 100%;
	height: 5%;
	float: left;
	border-top: 4px solid hsl(0, 0%, 90%);
	position: relative;
	display: none;
}

.xp {
	background-color: green;
	width: 0%;
	height: 100%;
}

.xp-box span {
	display: block;
	width: 100%;
	color: white;
	top: 0%;
	text-align: center;
	font-size: 24px;
	top: 0px;
	position: absolute;
}

.chat-box input {
	width: 70%;
	height: 100%;
	float: left;
	font-size: 30px;
	border: 0px;
	padding: 0px;
}

.chat-box * {
	margin: 0px;
}

.chat-box button {
	width: 15%;
	height: 100%;
}

#room-text {
	width: 100%;
	padding: 10px;
	height: 55%;
	overflow-y: auto;
}

#room-text span {
	display: block;
	width: 100%;
	padding-bottom: 5px;
}

#room-text .name {
	color: hsla(0, 5%, 95%, 1);
	font-weight: bold;
}

#room-text .description {
	color: hsla(0, 5%, 85%, 1);
}

#room-text .players {
	color: hsla(119, 100%, 76%, 1);
}

#room-text .mobs {
	color: hsla(10, 100%, 76%, 1);
}

#room-text .mobs {
	color: hsla(10, 100%, 76%, 1);
}

#room-text .items {
	color: hsla(204, 100%, 76%, 1);
}

#info {
	width: 100%;
	height: 38%;
	border-top: 4px solid hsl(0, 0%, 90%);
	color: hsla(335, 100%, 76%, 1);
	font-size: 28px;
	overflow-y: auto;
}

#info span {
	display: block;
	width: 100%;
	padding: 2px 10px 2px 10px;
	box-sizing: border-box;
	word-wrap: break-word;
}

#info span:nth-child(2n) {
	background-color: hsla(0, 0%, 100%, 0.05);
}

#info span:nth-child(2n + 1) {
	background-color: hsla(0, 0%, 100%, 0.15);
}

.message-info {
	color: green;
}

.message-combat { 
	color: red;
}

.message-error { 
	color: yellow;
}

#inventory {
	display: none;
	float: left;
	width: calc(100% / 3);
	height: 95%;
	border-left: 4px solid hsl(0, 0%, 90%);
	text-align: center;
	padding: 10px;
}

#inventory div {
	width: 100%;
}

#inventory-heading {
	color: hsla(279, 100%, 76%, 1);
	display: block;
	height: 10%;
}

#inventory-contents {
	color: white;
	height: 80%;
	overflow-y: auto;
}

#inventory-contents span {
	width: 100%;
	display: block;
}

#inventory-contents span:nth-child(2n) {
	background-color: hsla(0, 0%, 100%, 0.05);
}

#inventory-contents span:nth-child(2n + 1) {
	background-color: hsla(0, 0%, 100%, 0.15);
}

#inventory button {
	height: 10%;
}

#hud {
	padding-left: 10px;
	color: red;
	height: 7%;
}

#buttonPanel {
	float: left;
	width: calc(100% / 3);
	height: 95%;
	border-left: 4px solid hsl(0, 0%, 90%);
	text-align: center;
	padding: 10px;
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: hsla(0, 0%, 0%, 0.95);
	position: absolute;
}

.overlay div {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay div input {
	width: 100%;
	height: 10vh;
	border: 0px;
	text-align: center;
}

.overlay div button {
	width: 100%;
	height: 10vh;
	font-size: 48px;
}