@font-face {
    font-family: bitty;
    src: url(bitty.ttf);
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	font-size: 48px;
	background-color: hsl(0, 0%, 10%);
	font-family: bitty !important;
}

div {
	box-sizing: border-box;
}

button {
	width: calc(100% / 7);
	height: 10vh;
	font-size: 36px;
	float: left;
	font-family: bitty !important;
	border: 0px;
	border-left: 2px solid hsl(0, 0%, 10%);
	border-right: 2px solid hsl(0, 0%, 10%);
	background-color: hsl(0, 0%, 90%);
}

input {
	font-size: 48px;
}

#top {
	width: calc(2 * 100% / 3);
	height: 90vh;
	float: left;
}

#room-text {
	width: 100%;
	padding: 10px;
	height: 80%;
}

#room-text span {
	display: block;
	width: 100%;
	padding-bottom: 5px;
}

#room-text .name {
	color: hsla(0, 5%, 95%, 1);
	text-decoration: underline;
}

#room-text .description {
	color: hsla(0, 5%, 85%, 1);
}

#room-text .players {
	color: hsla(119, 100%, 76%, 1);
}

#room-text .mobs {
	color: hsla(10, 100%, 76%, 1);
}

#room-text .mobs {
	color: hsla(10, 100%, 76%, 1);
}

#room-text .items {
	color: hsla(204, 100%, 76%, 1);
}

#info {
	padding: 20px;
	width: 100%;
	height: 20%;
	border-top: 4px solid hsl(0, 0%, 90%);
	color: hsla(335, 100%, 76%, 1);
	font-size: 36px;
	overflow-y: auto;
}

#inventory {
	float: left;
	width: calc(100% / 3);
	height: 100%;
	border-left: 4px solid hsl(0, 0%, 90%);
	text-align: center;
	padding: 10px;
}

#inventory div {
	width: 100%;
}

#inventory-heading {
	color: hsla(279, 100%, 76%, 1);
}

#inventory-contents {
	color: white;
}

#inventory-contents span {
	width: 100%;
	display: block;
}

#buttonPanel {
	width: 100%;
	bottom: 0%;
	position: absolute;
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: hsla(0, 0%, 0%, 0.95);
	display: none;
	position: absolute;
}

.overlay div {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay div input {
	width: 100%;
	height: 10vh;
}

.overlay div button {
	width: 100%;
	height: 10vh;
}